<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InsertCodeTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F42288C1FF5E83D007E8966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F42289E1FF5E83D007E8966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F4228A91FF5E83D007E8966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
